{% extends "base.html" %}

{% block title %}
Time Tracker - Main
{% endblock %}

{% block menu %}

{% if project %}
<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">
			Commands
		</li>
		{% if project.active %}
		<li>
			<a href="{{ project.get_add_record_url }}">Add New Records</a>
		</li>
		<li class="divider"></li>
		{% endif %}
		<li>
			<a href="{{ project.get_edit_url }}">Edit</a>
		</li>
		<li>
			<a href="{{ project.get_delete_url }}">Delete</a>
		</li>
		<li>
			<a href="{{ project.get_copy_project_url }}">Copy Project</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="{{ project.get_add_category_url }}">Add Category</a>
		</li>
		<li>
			Add Location
		</li>
	</ul>
</div>

<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">
			Categories
		</li>
		{% for category in object.category_set.all %}
		<li>{{category}}</li>
		{% endfor %}
	</ul>
</div>

<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">
			Locations
		</li>
		{% for location in locations %}
		<li>{{location}}</li>
		{% endfor %}
	</ul>
</div>

{% endif %}


{% endblock %}
