{% extends "base.html" %}

{% block title %}Time Tracking{%if project %} - {{project}}{%endif%}{% endblock %}
{% block brand %}{%if project %}{{project}}{%else%}Time Tracking{%endif%}{% endblock %}
{% block brand_url %}{%if project%}{{project.get_absolute_url}}{%else%}#{%endif%}{% endblock %}

{% block menu %}

{% if project %}
<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">
			Commands
		</li>
		<li{% if project_overview %} class="active"{%endif%}>
			<a href="{{project.get_absolute_url}}">Overview</a>
		</li>
		{% if project.active %}
		<li{% if add_new_record %} class="active"{%endif%}>
			<a href="{{ project.get_add_record_url }}">Add New Record</a>
		</li>
		<li class="divider"></li>
		{% endif %}
		<li{% if edit_project %} class="active"{%endif%}>
			<a href="{{ project.get_edit_url }}">Edit Project</a>
		</li>
		<li{% if delete_project %} class="active"{%endif%}>
			<a href="{{ project.get_delete_url }}">Delete Project</a>
		</li>
		<li{% if copy_project %} class="active"{%endif%}>
			<a href="{{ project.get_copy_project_url }}">Copy Project</a>
		</li>
		<li class="divider"></li>
		<li{% if add_category %} class="active"{%endif%}>
			<a href="{{ project.get_add_category_url }}">Add Category</a>
		</li>
	</ul>
</div>

<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">
			Categories
		</li>
		{% for category in project.category_set.all %}
		<li{% if category == selected_category %} class="active"{% endif %}><a href="{{category.get_absolute_url}}">{{category}}</a></li>
		{% endfor %}
	</ul>
</div>

<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">
			Locations
		</li>
		{% for location in locations %}
		<li>{{location}}</li>
		{% endfor %}
		<li class="divider"></li>
		<li{% if add_location %} class="active"{%endif%}>
			Add Location
		</li>
	</ul>
</div>

{% endif %}


{% endblock %}
