{% extends "time_tracking/base.html" %}

{% block menu %}

<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">
			Commands
		</li>
		<li>
			<a href="{% url 'project_create_view' %}">Add Project</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block content %}



<div class="row-fluid">

	<div class="span5">
		<div class="well well-small">
			<h3>Active Projects</h3>
			{% if active_projects %}
				<dl>
				{% for o in active_projects %}

				<dt>
					<a href="{{ o.get_absolute_url }}">{{o.name}}</a>
				</dt>
				<dd>
					{{o.description}}
				</dd>

				{% endfor %}
				</dl>
			{% endif %}
		</div>
	</div>

	<div class="span5">
		<div class="well well-small">
			<h3>Deactive Projects</h3>
			{% for o in deactive_projects %}

			<p>
				<a href="{{ o.get_absolute_url }}">{{o.name}}</a> - {{ o.slug }}
			</p>

			{% endfor %}
		</div>
	</div>

</div>

{% endblock %}
